*{

  color: #373737;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  width:100%;
}
header{
    background-color: #373737 !important;
}

a.navbar-brand{
  font-size: 4vh;
}

section.main{
  height: 78.5vh;
  text-align: center;
  background-color: #F4F4F4;

}

div.row{
  /* padding-top: 5vh; */
}
#content{
  font-size: 25vmin;
  font-weight: 700;
  padding: 1rem;
  color: #C0B283;
}

/* .form-read{
  padding: 20px;
} */
.btn{
  margin: 3vh 3vh 0 3vh;

}

div label {
  padding-left:40%;
  color: rgba(55, 55, 55, 0.5);
  font-size: 3vh;

}
button.btn.btn-dark{
  font-size: 3vh;
  background-color: #373737;
}
#text-input{
  height: 7vh;
  width: 12em;
  margin-left: auto;
  margin-right: auto;
  font-size: 3vh;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
}
footer{
  position: static;
  background-color: #373737;
  color: #F4F4F4;
  padding: 1.2rem;
  font-size: 3vh;
}
